<div class="how-it-works">
    <div class="steps-container">
        {{#unless hideHeader}}
            <header class="section-header">
                {{yield 'header'}}
            </header>
        {{/unless}}

        {{#unless hideStepOne}}
            <div class="step-item">
                {{yield 'stepOne'}}
            </div>
        {{/unless}}

        {{#unless hideStepTwo}}
            <div class="step-item">
                {{yield 'stepTwo'}}
            </div>
        {{/unless}}

        {{#unless hideStepThree}}
            <div class="step-item">
                {{yield 'stepThree'}}
            </div>
        {{/unless}}
    </div>
    {{#unless hideFooter}}
        <footer>
            {{yield 'footer'}}
        </footer>
    {{/unless}}
</div>